
/* Links */

a {
  text-decoration: none;
  color: #fff;
  opacity:.55;
}

a:hover {
  opacity:1;
}

/* Body */

body {
  font-family:'Roboto Slab', Geneva, sans-serif;
  font-size:12px;
  margin:46px 0 46px 0;
  color:#FFF;
}

/* Background */

video#bgvid {
  position: fixed;
  right: 0; 
  bottom: 0;
  background-position: 50 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: 1;
  background: url(midnight-motion.jpg) no-repeat;
  background-size: cover;
}


/* Logo */

#logo {
 width:275px;
 height:84px;
 position:fixed;
 left:0;
 border-radius:0 10px 10px 0;
 opacity:.55;
 z-index:3;
 top: 50%;
 -ms-transform: translateY(-50%)
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
}

h1 {
  font-size:48pt;
  font-family:'Exo', Geneva, sans-serif;
  color: #fff;
  padding: 0 16px 0 16px;
  background:#000;
  border-radius:inherit;
}


/* Stream */

#stream {
 width:600px;
 margin: 0 auto;
 position:relative;
 z-index:2;
 position: relative;
 top: 50%;
 -ms-transform: translateY(-50%)
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
}


/* Timeline */
#timeline {
  width:600px;
  position:relative;
  margin: 96px auto;
  display:none;
  z-index:2;
}



/* Post */

.post {
  padding:28px 28px 56px 28px;
  background:#000;
  opacity:.55;
  font-size: 16pt;
  color:#fff;
  height:auto;
  border-radius:10px;
  z-index:2;
}

.author {
  position:relative;
  font-weight:bold;
  font-size:12pt;
  float:left;
}

.timestamp {
  font-weight:thin;
  font-size:12pt;
  opacity:.35;  
  float:right;
}

.message {
  clear:both;
  padding-top:35px;
  opacity:1;
  font-size:16pt;
}

.white {
  background:#fff;
  color:#000;
  margin-bottom:56px;
}

